In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/datathon/train.csv')

# removing empty and almost empty columns(s53,s54,s55,s56,s57,s59)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28322 entries, 0 to 28321
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      28322 non-null  object
 1   gender  28322 non-null  object
 2   s11     28322 non-null  object
 3   s12     28322 non-null  object
 4   s13     28322 non-null  int64
 5   s16     28322 non-null  object
 6   s17     28322 non-null  object
 7   s18     28322 non-null  object
 8   s48     28322 non-null  int64
 9   s52     28322 non-null  object
 10  s53     28322 non-null  object
 11  s54     2628 non-null   object
 12  s55     3206 non-null   object
 13  s56     0 non-null      float64
 14  s57     0 non-null      float64
 15  s58     28322 non-null  object
 16  s59     0 non-null      float64
 17  s69     28322 non-null  object
 18  s70     28322 non-null  object
 19  s71     28322 non-null  object
 20  n1      28322 non-null  float64
 21  n2      28322 non-null  float64
 22  n3      28322 non-null  int64
 23  n4      28322 non-null  float64
 24  n5      28322 non-null  float64
 25  n6      28322 non-null  float64
 26  n7      28322 non-null  float64
 27  n8      28322 non-null  float64
 28  n9      28322 non-null  float64
 29  n10     28322 non-null  float64
 30  n11     28322 non-null  float64
 31  n12     28322 non-null  int64
 32  n13     28322 non-null  int64
 33  n14     28322 non-null  float64
 34  n15     28322 non-null  int64
 35  label   28322 non-null  int64
dtypes: float64(14), int64(7), object(15)
memory usage: 7.8+ MB

In [ ]:
df.shape

(28322, 36)

In [ ]:
df1 = df.dropna(axis=1)
print(df1.shape)

(28322, 31)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28322 entries, 0 to 28321
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      28322 non-null  object
 1   gender  28322 non-null  object
 2   s11     28322 non-null  object
 3   s12     28322 non-null  object
 4   s13     28322 non-null  int64
 5   s16     28322 non-null  object
 6   s17     28322 non-null  object
 7   s18     28322 non-null  object
 8   s48     28322 non-null  int64
 9   s52     28322 non-null  object
 10  s53     28322 non-null  object
 11  s58     28322 non-null  object
 12  s69     28322 non-null  object
 13  s70     28322 non-null  object
 14  s71     28322 non-null  object
 15  n1      28322 non-null  float64
 16  n2      28322 non-null  float64
 17  n3      28322 non-null  int64
 18  n4      28322 non-null  float64
 19  n5      28322 non-null  float64
 20  n6      28322 non-null  float64
 21  n7      28322 non-null  float64
 22  n8      28322 non-null  float64
 23  n9      28322 non-null  float64
 24  n10     28322 non-null  float64
 25  n11     28322 non-null  float64
 26  n12     28322 non-null  int64
 27  n13     28322 non-null  int64
 28  n14     28322 non-null  float64
 29  n15     28322 non-null  int64
 30  label   28322 non-null  int64
dtypes: float64(11), int64(7), object(13)
memory usage: 6.7+ MB

In [ ]:
df1.drop('s53', inplace=True, axis=1)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28322 entries, 0 to 28321
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      28322 non-null  object
 1   gender  28322 non-null  object
 2   s11     28322 non-null  object
 3   s12     28322 non-null  object
 4   s13     28322 non-null  int64
 5   s16     28322 non-null  object
 6   s17     28322 non-null  object
 7   s18     28322 non-null  object
 8   s48     28322 non-null  int64
 9   s52     28322 non-null  object
 10  s58     28322 non-null  object
 11  s69     28322 non-null  object
 12  s70     28322 non-null  object
 13  s71     28322 non-null  object
 14  n1      28322 non-null  float64
 15  n2      28322 non-null  float64
 16  n3      28322 non-null  int64
 17  n4      28322 non-null  float64
 18  n5      28322 non-null  float64
 19  n6      28322 non-null  float64
 20  n7      28322 non-null  float64
 21  n8      28322 non-null  float64
 22  n9      28322 non-null  float64
 23  n10     28322 non-null  float64
 24  n11     28322 non-null  float64
 25  n12     28322 non-null  int64
 26  n13     28322 non-null  int64
 27  n14     28322 non-null  float64
 28  n15     28322 non-null  int64
 29  label   28322 non-null  int64
dtypes: float64(11), int64(7), object(12)
memory usage: 6.5+ MB

In [ ]:
df1.shape

(28322, 30)

# Converting s52 into numerical value(I to 1, o to 0)

In [ ]:
df1['s52'] = df1['s52'].replace(['l','o'],['1','0'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
pd.to_numeric(df1['s52'], downcast='integer')

0        1
1        1
2        1
3        1
4        1
        ..
28317    1
28318    1
28319    1
28320    1
28321    1
Name: s52, Length: 28322, dtype: int8

In [ ]:
df1.groupby('s52').size()

s52
0     1290
1    27032
dtype: int64

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28322 entries, 0 to 28321
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      28322 non-null  object
 1   gender  28322 non-null  object
 2   s11     28322 non-null  object
 3   s12     28322 non-null  object
 4   s13     28322 non-null  int64
 5   s16     28322 non-null  object
 6   s17     28322 non-null  object
 7   s18     28322 non-null  object
 8   s48     28322 non-null  int64
 9   s52     28322 non-null  object
 10  s58     28322 non-null  object
 11  s69     28322 non-null  object
 12  s70     28322 non-null  object
 13  s71     28322 non-null  object
 14  n1      28322 non-null  float64
 15  n2      28322 non-null  float64
 16  n3      28322 non-null  int64
 17  n4      28322 non-null  float64
 18  n5      28322 non-null  float64
 19  n6      28322 non-null  float64
 20  n7      28322 non-null  float64
 21  n8      28322 non-null  float64
 22  n9      28322 non-null  float64
 23  n10     28322 non-null  float64
 24  n11     28322 non-null  float64
 25  n12     28322 non-null  int64
 26  n13     28322 non-null  int64
 27  n14     28322 non-null  float64
 28  n15     28322 non-null  int64
 29  label   28322 non-null  int64
dtypes: float64(11), int64(7), object(12)
memory usage: 6.5+ MB

In [ ]:
id      gender s11     s12     s13     s16     s17   s18     s48     s52     s58      s69     s70     s71     n1       n2      n3      n4      n5       n6        n7        n8       n9       n10      n11     n12     n13       n14     n15     label

# feature selection

In [ ]:
from sklearn.linear_model import LinearRegression

#initiate linear regression model
model = LinearRegression()

#define predictor and response variables
col="label"
X, y = df1.loc[:, df1.columns != col], df1.label

#fit regression model
model.fit(X, y)

#calculate R-squared of regression model
r_squared = model.score(X, y)

#view R-squared value
print(r_squared)

0.7175541714105901

ValueError: ignored